*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans serif;
    -webkit-font-smoothing: antialiased;
}

:root{
    --almost-white: #fffdfa;
    --dark-blue: #00001A;
    --gumetal: #5e607a;
    --vermillion: #f15d51;
    --yellow: #e9aa52;
    --silver: #c5c6ce

}

body{
    padding: 1.75rem 1rem ;
    background-color: var(--almost-white);
}

body.escurecer::before{
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    max-width: 1110px;
    margin-inline: auto;
   
}

 header button{
    border: none;
    background: none;
    width: fit-content;

        
}


header nav.mobile{
    position: fixed;
    background-color: var(--almost-white);
    right: 0;
    top: 0;
    height: 100vh;
    width: 16rem;
    z-index: 999;

    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;

    transition: 0.7s;

}




header nav.abrir{
    right: 0;
}

header nav button{
    margin-left: auto;
    margin-bottom: 4rem;

}

header .mobile a{
    text-decoration: none;
    color: var(--dark-blue);
    font-size: 1.125rem;
    line-height: 1.5rem;
}


.header.descktop{
    display: none;
}

main{
    max-width: 100%;
    margin-inline: auto;
}

.margin-border-padding{
    border-bottom: 1px solid var(--gumetal);
    margin-bottom: 1.75rem;
    padding-bottom: 1.75rem;
}

main{
    max-width: 1110px;
    margin-inline: auto;
}


.primeira{
    margin-bottom: 4rem;
}

.primeira img{
    width: 100%;
    margin-bottom: 1.5rem;

}

.primeira h1{
    font-size: 5rem;
    line-height: 100%;
    color: var(--dark-blue);

}

.primeira p{
    font-size: 0.9375rem;
    line-height: 1.625rem;
    color: var(--gumetal);
    margin-bottom: 1.5rem;

}

.primeira button{
    padding: 0.75rem 2rem;
    background-color: var(--vermillion);
    border: none;
    text-transform: uppercase;
    color: var(--almost-white);
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0.275rem;
    line-height: 1.5rem;
}

.segunda{

    background-color: var(--dark-blue);
    margin-bottom: 4rem;
    padding: 1.5rem 1.25rem;

}

.segunda h2{
    color: var(--yellow);
    font-size: 2rem;
    line-height: 100%;
    margin-bottom: 2.2rem;

}

.segunda h3{
    color: var(--almost-white);
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.segunda p{
    color: var(--almost-white);
    font-size: 0.9375rem;
    line-height: 1.625rem;
}

.terceira >div{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;

}

.terceira img{
    max-width: 6.25rem;

}

.terceira strong{
    color: var(--silver);
    font-size: 2rem;
    line-height: 100%;

}

.terceira h2{
    color: var(--dark-blue);
    font-size: 1.125rem;
    font-weight: 800;
    line-height: 1.5rem;
    margin-block: 0.6rem;
}

.terceira p{
    font-size: 0.9375;
    line-height: 1.625rem;
    color: var(--gumetal);
}

@media(min-width: 1110px){

    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    .primeira{
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr;

        gap: 1.75rem;

    }

    .primeira picture{
        grid-column: 1/3;
    }

    .primeira img{
        margin: 0;
    }

    header > button {
        display: none;
    }

    header .descktop{
        display: flex;
        gap: 2.5rem;
    }

    header .descktop a{
        font-size: 0.9375rem;
        line-height: 1.625rem;
        text-decoration: none;
        color: var(--gumetal);
    }
}