*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --almost-whitw: #fffdfa;
    --dark-blue: #00001A;
    --gumetal: #5e607a;
    --vermillion: #f15d51
}

body{
    padding: 1.75rem 1rem ;
}